github "shpakovski/MASPreferences"
github "sparkle-project/Sparkle"
github "Clipy/KeyHolder"
github "Clipy/Magnet"
github "robbiehanson/CocoaAsyncSocket" "9ab2c8de96bfd97c7d462c8010ca5adf2b9a6d28"
github "Clipy/Sauce"